%div{:id => "#{dom_id patient}"}
  %p
    %strong First name:
    = patient.first_name
  %p
    %strong Last name:
    = patient.last_name
  %p
    %strong Identification number:
    = patient.identification_number
