= form_for @hospital, validate: true do |f|
  .form-group.ml-4.mr-4
    =f.label :name, class: "form-label required"
    =f.text_field :name, autofocus: true, class: "form-control"

  .row
    .offset-3.col-3
      = link_to  'Atrás', hospitals_path, class: "btn btn-secondary btn-block"
    .col-3
      = button_tag  'Guardar hospital', class: "btn btn-outline-sucess btn-block",
        'data-disable-with': "guardando..."
