%p#notice= notice 
.card.ml-4.m-4
  .card-body  
    %h5.card-title Nombre: 
    %p.card-text &nbsp #{@hospital.name}

.row.mt-3
  .offset-3.col-3
    =link_to "Atrás", hospitals_path, class: "btn btn-secundary btn-block"
