%p#notice= notice 

.card.ml-4.m-4 
  .card-body 
    %h5.card-title Nombre del hospital 
      
    %p.card-text &nbsp #{@hospital.name}

.row.mt-3 
  .col-3 
    = link_to 'Atrás', hospitals_path, class: "btn btn-secondary btn-block"