.div.m-4
    %h1.mb-4
        = t('application.availables', model: t('activerecords.modules.crud.other'))
.float-left.ml-4
    = link_to t('activerecords.modules.hospital.other'), hospitals_path, class: 'btn btn-primary'